{% assign tech = site.data.data.tech %}
{% if tech %}
<section class="section tech-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-box-open fa-stack-1x fa-inverse"></i>
    </span>
    {{ tech.title }}
  </h2>

  {% if tech.intro %}
  <div class="intro">
    <p>{{ tech.intro }}</p>
  </div>
  <!--//intro-->
  {% endif %}

  {% for contribution in tech.contributions %}
  <div class="item">

    <span class="project-title">
      {% if contribution.link %}
      <a href="{{ contribution.link }}" target="_blank">{{ contribution.title }}</a>
      {% else %}
      {{ contribution.title }}
      {% endif %}
    </span>

    {% if contribution.tagline %}
    - <span class="project-tagline">{{ contribution.tagline }}</span>
    {% endif %}

    {% if contribution.details %}
    - <span class="project-details">{{ contribution.details }}</span>
    {% endif %}
  </div>
  <!--//item-->
  {% endfor %}

</section>
<!--//section-->
{% endif %}
